{% extends 'layout.html' %}
{% set active_page = "view" %}
{% block title %}
<title>Librarian | View Book History</title>
{% endblock %}
{% block content %}
<div class="btn-group mb-2" role="group">
    <a role="button" class="btn btn-light {{ 'active' if is_current }}" href="{{url_for('book_history_current', id=book_id)}}">Current</a>
    <a role="button" class="btn btn-light {{ 'active' if not is_current }}" href="{{url_for('book_history_past', id=book_id)}}">Past</a>
</div>
<div class="section-content text-warning">
    <legend class="border-bottom border-light mb-4">
        Student History - 
        {% if is_current %} Current
        {% else %} Past
        {% endif %}
    </legend>
    <input class="form-control mt-2 mb-2" type="search" id="search-box" onkeyup="filterByName()" placeholder="Search by Name...">
    <div class="table-responsive">
    <table class="table table-hover table-bordered" id='table'>
        <thead class="thead-dark"> 
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Year</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Return Date</th>
                {% if not is_current %}
                <th scope="col">Fine Paid</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if not book_history %}
                <tr class="table-light">
                    <td colspan="{{ 6 if is_current else 7 }}">-- NIL --</td>
                </tr>
            {% else %}
            {% for record in book_history %}
                <tr class="table-light">
                    <th scope="row">{{record.student.id}}</th>
                    <td>{{record.student.name}}</td>
                    <td>{{record.student.dept.name.upper()}}</td>
                    <td>{{record.student.year}}</td>
                    <td>{{record.issue_date}}</td>
                    {% if record.return_date == None %}
                        <td class="text-center">-</td>
                    {% else %}
                        <td>{{record.return_date}}</td>
                    {% endif %}
                    {% if not is_current %}
                        <td>{{record.fine_due}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}