{% extends 'layout.html' %}
{% set active_page = "remove" %}
{% block title %}
<title>Librarian | Remove Student</title>
{% endblock %}

{% block content %}
<div class="section-content text-warning">
    <form action="" method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom border-light mb-4">Remove Student</legend>
            <div class="form-group">
                <label for="">Enter Student's ID</label>
                <input type="number" class="form-control" name="id" id="" required>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
            {% if student != None %}
                <h3 class="border-bottom border-light mb-4 mt-4">Student Details</h3>
                <p>Name: {{ student.name }}</p>
                <p>Year: {{ student.year }}</p>
                <p>Department: {{ student.dept.name.upper() }}</p>
                <p>Address: {{ student.address }}</p>
                <p>Contact no: {{ student.contact_no }}</p>
                <input type="hidden" name="id1" value="{{student.id}}">
                <button type="submit" name='remove' onclick="{{ url_for('remove_librarian') }}" class="btn btn-warning mr-2">Remove?</button>
                <button type="submit" name='cancel' onclick="{{ url_for('remove_librarian') }}" class="btn btn-secondary">Cancel</button>
            {% endif %}
        </fieldset>
    </form>
</div>
{% endblock %}