{% extends 'layout.html' %}
{% set active_page = "return" %}
{% block title %}
<title>Librarian | {{ title }}</title>
{% endblock %}

{% block content %}

<div class="section-content text-warning">
    <form action="" method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom border-light mb-4">{{ title }}</legend>
            <div class="btn-group mb-2" role="group" aria-label="Issue and Return Books">
                <a role="button" class="btn btn-light {{ 'active' if active_page == 'issue' }}" href="{{url_for('issue_book')}}">Book Issue</a>
                <a role="button" class="btn btn-light {{ 'active' if active_page == 'return' }}" href="{{url_for('return_book')}}">Book Return</a>
            </div>
            <div class="form-group">
                <label for="">Enter Book ID</label>
                <input type="number" class="form-control" name="book_id" id="" >
            </div>
            <div class="form-group">
                <label for="">Enter Student ID</label>
                <input type="number" class="form-control" name="student_id" id="" >
            </div>
            {% if not issued_book %}
            <button type="submit" class="btn btn-warning">Submit</button>
            {% else %}
            <button type="submit" class="btn btn-warning disabled">Submit</button>

                <h3 class="border-bottom border-light mb-4 mt-4">Transaction Details</h3>
                <p>Fine due: {{issued_book.fine_due}}</p>
                <p>Issue Date: {{issued_book.issue_date}}</p>
                <p>Return Date: {{issued_book.return_date}}</p>

                <h3 class="border-bottom border-light mb-4 mt-4">Book Details</h3>
                <p>Name: {{issued_book.book.name}}</p>
                <p>Author(s): {{issued_book.book.get_authors()}}</p>
                <p>Department: {{issued_book.book.dept.name.upper()}}</p>
                <p>Edition: {{issued_book.book.edition}}</p>

                <h3 class="border-bottom border-light mb-4 mt-4">Student Details</h3>
                <p>Name: {{issued_book.student.name}}</p>
                <p>Department: {{issued_book.student.dept.name.upper()}}</p>

                <input type="hidden" name="bk_id" value="{{issued_book.book.id}}">
                <input type="hidden" name="st_id" value="{{issued_book.student.id}}">
            
                <button type="submit" name='return' class="btn btn-warning mr-2">Return?</button>
                <button type="submit" name='cancel' class="btn btn-secondary">Cancel</button>
            {% endif %} 
        </fieldset>
    </form>
</div>
{% endblock %}