{% extends 'layout.html' %}
{% set active_page = "view" %}
{% block title %}
<title>Librarian | View Book</title>
{% endblock %}
{% block content %}
<div class="section-content text-warning view-table">
    <legend class="border-bottom border-light mb-4">View Books</legend>
    <input class="form-control mt-2 mb-2" type="search" id="search-box" onkeyup="filterByName()" placeholder="Search by Name...">
    <div class="table-responsive">
    <table class="table table-hover table-bordered" id='table'>
        <thead class="thead-dark"> 
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Authors</th>
                <th scope="col">Department</th>
                <th scope="col">Edition</th>
                <th scope="col">Price</th>
                <th scope="col">Available Copies</th>
            </tr>
        </thead>
        <tbody>
            {% if not inst_books %}
                <tr class="table-light">
                    <td colspan="7">-- NIL --</td>
                </tr>
            {% else %}
            {% for inst_book in inst_books %}
                <tr class="table-light">
                    <th scope="row">{{inst_book.book.id}}</th>
                    <td><a href="{{ url_for('book_history_current', id=inst_book.book.id) }}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="View Student History">{{inst_book.book.name}}</a></td>
                    <td>{{inst_book.book.get_authors()}}</td>
                    <td>{{inst_book.book.dept.name.upper()}}</td>
                    <td>{{inst_book.book.edition}}</td>
                    <td>{{inst_book.book.price}}</td>
                    <td>{{inst_book.copies_available}}</td>     
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}