<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/images/books.svg" type="image/x-icon">
    
    {% block title %}
    <title>LMS</title>
    {% endblock %}
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container layout-content">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, msg in messages %}
              <div class="alert alert-{{ category }}">
                {{ msg }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if session['user_type'] == 'librarian' and active_page != 'home' %}
        <div class="btn-group mb-2" role="group" aria-label="Issue and Return Books">
          <a role="button" class="btn btn-light {{ 'active' if active_page == 'issue' }}" href="{{url_for('issue_book')}}">Book Issue</a>
          <a role="button" class="btn btn-light {{ 'active' if active_page == 'return' }}" href="{{url_for('return_book')}}">Book Return</a>
        </div>
        {% endif %}
        {% block content %}
        
        {% endblock %}
    </div>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>