{% extends 'layout.html' %}
{% set active_page = "profile" %}
{% block title %}
<title> LMS | {{ title }} </title>
{% endblock %}
{% block content %}
    <div class="section-content text-warning">
        <h2 class="border-bottom pb-2 mb-4">{{ title }} - {{ current_user.name }}</h2>
        <p><span class='field-title'>Institute: </span>
        {% if session.get('user_type') == 'admin' %}
            {{ current_user.institute.upper() }}
        {% else %}
            {{ current_user.admin.institute.upper() }}</p>
        {% endif %}
        <p><span class="field-title">Role: </span>{{ session.get('user_type').capitalize() }} </p>
        <p><span class="field-title">Username: </span> {{ current_user.username }}</p>
        <p><span class="field-title">Email ID: </span>{{ current_user.email }} </p>
        {% if session.get('user_type') == 'librarian' %}
        <p><span class='field-title'>Join Date: </span>{{ current_user.join_date }}</p>
        <p><span class='field-title'>Address: </span>{{ current_user.address }}</p>
        <p><span class='field-title'>Contact no: </span>{{ current_user.contact_no }}</p>
        {% endif %}
    </div>
{% endblock %}