html, body {
    background-image: url('../images/books1.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
}

/* main container */
.layout-content {
    margin-top: 100px;
}

/* home page */
.home {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
}

.login-section, .register-section, .add-librarian, .remove-librarian {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

.font-sizing-h1 {
    font-size: 3.5vw;
}
.font-sizing-h2 {
    font-size: 3vw;
}

.profile-link {
    color: rgb(179, 175, 170);
}

.profile-link:hover {
    color: grey;
    text-decoration: none;
}

.hidden-layout {
    background-color: white;
    color: black;
    padding: 10px;
}