html, body {
    background-image: url('../images/books1.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

/* main container */
.layout-content {
    margin-top: 100px;
}

/* home page */
.home {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
}
/* font sizing for home page */
.font-sizing-h1 {
    font-size: 3.5vw;
}
.font-sizing-h2 {
    font-size: 3vw;
}

.flash-msg {
    width: 600px;
    margin: auto;
}



/* bg and padding for all sections */
.section-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    width: 600px;
    margin: auto;
}

.view-table {
    width: 800px;
}
/* center nil when table for view is empty */
td[colspan]:not([colspan="1"]) {
    text-align: center;
}